


@font-face {
    font-family: "LXGW WenKai";
    font-style: normal;
    font-weight: 600;
    src: local("../fonts/LXGWWenKaiLite-Regular.woff2"),
        local("../fonts/LXGWWenKaiLite-Regular.woff2"),
        local("../fonts/LXGWWenKaiMono-Regular.ttf");
}

@font-face {
    font-family: "LXGW WenKai Bold";
    font-style: normal;
    font-weight: bold;
    src: local("../fonts/LXGWWenKaiLite-Bold.woff2");
}
